<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zczy.personal.web.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.zczy.personal.web.model.Manager">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="managerId" property="managerId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="realName" property="realName" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="tel" property="tel" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, manager_id, name, password, state, real_name, email, tel
    </sql>
    <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.zczy.personal.web.model.Manager">
        select
        <include refid="Base_Column_List"/>
        from pw_manager
        where 1=1
        <trim>
            <if test="managerId != null">
                AND manager_id =
                #{managerId, jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name =
                #{name, jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password =
                #{password, jdbcType=VARCHAR}
            </if>
            <if test="state != null">
                AND state =
                #{state, jdbcType=INTEGER}
            </if>
        </trim>
    </select>
</mapper>